version: '3.8'

services:

  # # Оператор в режиме разработки
  nio:
    # image: ghcr.io/homystack/nio:main
    build:
      context: .
      dockerfile: Containerfile
    network_mode: host
    volumes:
      - ~/.kube/config:/app/.kube/config
    environment:
      - PYTHONPATH=/app
      - PYTHONUNBUFFERED=1
      - PYDEVD_DISABLE_FILE_VALIDATION=1 
    ports:
      - "5678:5678"  # Python debugger port

  # PXE сервер для загрузки машин через iPXE
  nio-ipxe:
    build:
      context: .
      dockerfile: Containerfile.ipxe
    network_mode: host
    volumes:
      - .pxe:/app/.pxe
      - ~/.kube/config:/app/.kube/config
    environment:
      - PYTHONPATH=/app
      - PYTHONUNBUFFERED=1
    command: python ipxe.py
    privileged: true
